<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.fsyj.blog.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="site.fsyj.blog.bean.Message">
    <!--@mbg.generated-->
    <!--@Table tb_message-->
    <id column="id" property="id" />
    <result column="ip_address" property="ipAddress" />
    <result column="ip_source" property="ipSource" />
    <result column="nickname" property="nickname" />
    <result column="avatar" property="avatar" />
    <result column="message_content" property="messageContent" />
    <result column="time" property="time" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, ip_address, ip_source, nickname, avatar, message_content, `time`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_message
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_message
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="site.fsyj.blog.bean.Message" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_message (ip_address, ip_source, nickname, avatar, message_content, `time`, 
      create_time)
    values (#{ipAddress}, #{ipSource}, #{nickname}, #{avatar}, #{messageContent}, #{time}, 
      #{createTime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="site.fsyj.blog.bean.Message" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ipAddress != null">
        ip_address,
      </if>
      <if test="ipSource != null">
        ip_source,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="messageContent != null">
        message_content,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ipAddress != null">
        #{ipAddress},
      </if>
      <if test="ipSource != null">
        #{ipSource},
      </if>
      <if test="nickname != null">
        #{nickname},
      </if>
      <if test="avatar != null">
        #{avatar},
      </if>
      <if test="messageContent != null">
        #{messageContent},
      </if>
      <if test="time != null">
        #{time},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.fsyj.blog.bean.Message">
    <!--@mbg.generated-->
    update tb_message
    <set>
      <if test="ipAddress != null">
        ip_address = #{ipAddress},
      </if>
      <if test="ipSource != null">
        ip_source = #{ipSource},
      </if>
      <if test="nickname != null">
        nickname = #{nickname},
      </if>
      <if test="avatar != null">
        avatar = #{avatar},
      </if>
      <if test="messageContent != null">
        message_content = #{messageContent},
      </if>
      <if test="time != null">
        `time` = #{time},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.fsyj.blog.bean.Message">
    <!--@mbg.generated-->
    update tb_message
    set ip_address = #{ipAddress},
      ip_source = #{ipSource},
      nickname = #{nickname},
      avatar = #{avatar},
      message_content = #{messageContent},
      `time` = #{time},
      create_time = #{createTime}
    where id = #{id}
  </update>
</mapper>