<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.fsyj.blog.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="site.fsyj.blog.bean.RoleResource">
    <!--@mbg.generated-->
    <!--@Table tb_role_resource-->
    <id column="id" property="id" />
    <result column="role_id" property="roleId" />
    <result column="resource_id" property="resourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, resource_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_role_resource
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_role_resource
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="site.fsyj.blog.bean.RoleResource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_role_resource (role_id, resource_id)
    values (#{roleId}, #{resourceId})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="site.fsyj.blog.bean.RoleResource" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="resourceId != null">
        resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="resourceId != null">
        #{resourceId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.fsyj.blog.bean.RoleResource">
    <!--@mbg.generated-->
    update tb_role_resource
    <set>
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="resourceId != null">
        resource_id = #{resourceId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.fsyj.blog.bean.RoleResource">
    <!--@mbg.generated-->
    update tb_role_resource
    set role_id = #{roleId},
      resource_id = #{resourceId}
    where id = #{id}
  </update>
</mapper>